{% extends 'store/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container bg-white mt-5  rounded" style="max-width: 500px;">    
    <form class="py-3 mx-3" action="" method="POST">
        {% csrf_token %}

        {% if error_message %}
            <div class="text-center" >
                <h6 style="color:red">
                    {{ error_message }}
                </h6>
            </div>
        {% endif %}
        <h3 class="text-center">Register Now</h3>
        <div class="">
            {{form|crispy}}
        </div>
        <button type="submit" class="btn btn-primary fw-semibold text-white mt-4 col-12" style="background-color: #4f868c;">Sing Up</button>
    </form>
    <div class="p-3">
        <small class="text-muted">
            Already Have An Account?<a class="ml-2" href="{% url 'store:login' %}">Sing In</a>
        </small>
    </div>    
    </div>
{% endblock content %}